*.d
*.o
*.bin
*.hex
*.list
*.srec
*.a
*.elf
*.sym
*.stylecheck
*.swp
*.csv
*.ods
\#*
.\#*
*~
*-
*.map
*.log
*.pdf
*.tag
*.lss
*.csv
auxiliary/
moc_*
ui_*
qrc_*
*.txt
*.cmd
*.net
power-management
power-management-tcp

